{
	"discord": {
		"token": "[BOT USER TOKEN]",
		"owner_id": "[USER ACCOUNT ID e.g. "101812335823298560"]"
	},

	"enable": {
		"caching": true,
		"manual_queue": true,
		"now_playing_notifs": true
	},

	"defaults": {
		"volume": 33,
		"dispatcher_passes": 1,
		"track_delay": 0
	},

	"lists": [
		{
			"type": "remote",
			"path": "https://raw.githubusercontent.com/TheBlackParrot/discord-music-bot-lists/master/vaporwave.json",
			"format": "json"
		},

		{
			"type": "remote",
			"path": "https://raw.githubusercontent.com/TheBlackParrot/discord-music-bot-lists/master/dnb.tsv",
			"format": "tsv"
		},

		{
			"type": "remote",
			"path": "https://temp.discord.fm/libraries/purely-pop/json",
			"format": "discordfm",
			"inject": {
				"name": "Purely Pop",
				"manager": "TwoDog#9122"
			}
		}
	]
}