{
	"discord": {
		"token": "[BOT USER TOKEN]"
	},

	"enable": {
		"caching": true,
		"manual_queue": true,
		"now_playing_notifs": true
	},

	"lists": [
		{
			"type": "remote",
			"path": "https://raw.githubusercontent.com/TheBlackParrot/discord-music-bot-lists/master/vaporwave.json",
			"format": "json"
		},

		{
			"type": "remote",
			"path": "https://raw.githubusercontent.com/TheBlackParrot/discord-music-bot-lists/master/dnb.tsv",
			"format": "tsv"
		},
	]
}